{% extends 'base.html' %}

{% block content %}

<div class="container d-flex justify-content-center mt-5">
    <div class="card p-4 shadow-lg" style="width: 500px; border-radius: 20px;">

    <h3 class="text-center mb-4">Submit Complaint</h3>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input class="form-control mb-3" type="text" name="title" placeholder="Complaint Title">

        <textarea class="form-control mb-3" name="description" placeholder="Describe the issue"></textarea>


        <input class="form-control mb-3" type="text" name="location_text" placeholder="Location (e.g. Dhanmondi)">
        <input class="form-control mb-3" type="text" name="latitude" placeholder="Latitude (optional)">
        <input class="form-control mb-3" type="text" name="longitude" placeholder="Longitude (optional)">

        <input class="form-control mb-3" type="file" name="image">

        <button class="btn btn-dark w-100">Submit Complaint</button>
    </form>

    </div>

</div>

{% endblock %}
