{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">All Complaints</h2>

    <form method="GET" class="mb-4">
        <input type="text" name="q" placeholder="Search complaints..."
           class="form-control" value="{{ query }}">
    </form>

    {% for c in complaints %}
        <div class="card p-3 mb-3 shadow-sm">

            <h5>
                <a href="/complaints/{{ c.id }}/">{{ c.title }}</a>
            </h5>
            <p>{{ c.description }}</p>

            {% if c.image %}
                <img src="{{ c.image.url }}" width="200">
            {% endif %}

        </div>
    {% empty %}
        <p>No complaints yet.</p>
    {% endfor %}

</div>

{% endblock %}